# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stock_predictor

# Backend
DATABASE_URL=postgresql://postgres:postgres@db:5432/stock_predictor
DEBUG=True
STOCK_API_KEY=your_api_key_here

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
